body {
  margin: 0;
  background: linear-gradient(#e4bbde, #9198e5);
  min-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:'monaco';
}

label {
  font-weight: bold;
}
.title {
  margin:0;
  padding: 10px;
  text-align: center;
  padding-top: 80px;
}


.pw-display {
  background-color: rgba(223, 195, 235, 0.8);
  margin-bottom: 10px;
  color: white;
  padding: 15px;
  font-family: 'copperplate';
  font-size: 15px;
  border: 1px solid rgb(255, 220, 247);
  height: 10px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* word-break: break-all; */
}

.length-container{
  display: flex;
  align-items: center;
}

.number-input{
  width: 45px;
}

.form {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 20px;
  column-gap: 50px;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.makeButton {
  background-color: transparent;
  border: 2px solid rgb(255, 220, 247);
  color: white;
  padding: 10px;
  font-weight: bold;
  cursor: hand;
  border-radius: 10px;
}

btn:hover {
  background-color: thistle;
}